body{
    margin:0;
    font-family:Segoe UI, Arial;
    background:#f4f6fb;
}

.container{
    width:350px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 10px 20px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    color:#333;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    background:#4CAF50;
    border:none;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#45a049;
}

a{
    text-decoration:none;
    color:#4CAF50;
}

.nav{
    background:#4CAF50;
    padding:15px;
    color:white;
    display:flex;
    justify-content:space-between;
}

.card{
    background:white;
    padding:15px;
    margin:10px;
    border-radius:8px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.list{
    max-width:600px;
    margin:auto;
}
